.container {
  height: 100vh;
  background-color: #f6d8ae;
  /* background-image: url("https://i.gifer.com/Vr6.gif"); */
  background-size: cover;
  background-position: center center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2rem);
}

.bgImg {
  max-width: 95vw;
  border-radius: 15px;
  max-height: 90vh;
}

@media only screen and (min-width: 576px) {
  .bgImg {
    width: 80vw;
  }
  .content {
    height: calc(100vh - 2.6rem);
  }
}

@media only screen and (min-width: 768px) {
  .bgImg {
    width: 60vw;
  }
  .content {
    height: calc(100vh - 4rem);
  }
}

@media only screen and (min-width: 1200px) {
  .bgImg {
    width: 40vw;
  }
}
